<h1 id="tableLabel">Search</h1>

<p>Easily search for the things you need</p>

<input #searchBox type="text" class="form-control" placeholder="What are you looking for?"
  (input)="search(searchBox.value)" aria-label="searchString" aria-describedby="addon-wrapping">

<br />

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Description</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let searchResult of searchResults$ | async">
      <td>{{ searchResult.searchObjectType }}</td>
      <td>{{ searchResult.resultObjectName }}</td>
      <td>{{ searchResult.resultObjectDescription }}</td>
      <td>{{ searchResult.resultObjectText }}</td>
    </tr>
  </tbody>
</table>