<h1 id="tableLabel">Search</h1>

<p>Easily search for the things you need</p>

<div class="input-group">
  <input #searchBox type="text" class="form-control" placeholder="What are you looking for?"
    (input)="search(searchBox.value)" aria-label="searchString" aria-describedby="addon-wrapping">
  <button type="button" class="btn bg-transparent" style="margin-left: -40px; z-index: 100;" (click)="clearQuery()">
    <i class="fa fa-times"></i>
  </button>
</div>

<br />

<div class="list-box">
  <ul class="list-group">
    <li *ngFor="let searchResult of searchResults$ | async">
      <app-search-result-list-item [item]="searchResult">
      </app-search-result-list-item>
    </li>
  </ul>
</div>